/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2025, 8:32:07 AM
    Author     : admin
*/
.Main{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-font-size :10;
}

